{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="../assets/js/change_driver_position.js"></script>
    <script src="../assets/js/send_race_predictions_form.js"></script>
{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">

        <div class="row">
            
            <h3 class="text-center">Make your predictions!</h3>

            <div class="col-md-6 mt-5">
                <div class="card no-border-radius">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Name</th>
                                        <th>Race Start</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i, race in races %}
                                        <tr {% if currentRace.id == race.id %} class="active-race-table-row" {% endif %}>
                                            <td>{{ i + 1 }}</td>
                                            <td><a href="/{{ race.id }}" class="text-decoration-none {{ currentRace.id == race.id ? "text-white" : "text-dark grey-hover"}}">{{ race.name }}</a></td> 
                                            <td>{{ race.race_start }}</td>           
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-5">

                <div class="card mb-3">
                    <div class="card-header pb-3 pt-4 layout-color">
                        
                    </div>
                    <div class="card-body">
                        <p>{{ defaultStandings ? "Those are default standings" : "You already made predictions about this race standings"}}</p>
                        
                        {% if race.race_start <= currentDate %}
                            It is the day of the race, you cannot make or change predictions for this race anymore   
                        {% else %}
                            <button class="btn btn-primary" id="race-predictions-form-trigger">Save current predictions</button>
                        {% endif %}
                    </div>
                </div>

                <div class="card no-border-radius">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Name</th>
                                        <th>Team</th>
                                        <th>Bolid</th>
                                        <th>Up</th>
                                        <th>Down</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form method="post" action="/race/predictions/store/{{ currentRace.id }}" id="race-predictions-form">
                                        {% for i, prediction in currentRacePredictions %}
                                            <tr>
                                                <td id="driver-position-{{ prediction.driver.id }}">{{ prediction.position }}</td>
                                                <td>{{ prediction.driver.name }} {{ prediction.driver.surname }}</td>
                                                <td>{{ prediction.driver.team.name }}</td>
                                                <td>
                                                    <img src="../assets/images/cars/{{ prediction.driver.team.picture }}" class="img-fluid f1-car-img">
                                                </td>
                                                <td id="driver-points-{{ prediction.driver.id }}">{{ racePoints[i + 1] }}</td>
                                                <td><i class="fas fa-arrow-up increase-driver-position" data-driverId="{{ prediction.driver.id }}" data-driverPosition="{{ prediction.position }}" data-driverpoints={{ racePoints[i + 1] }}></i></td>
                                                <td><i class="fas fa-arrow-down decrease-driver-position" data-driverId="{{ prediction.driver.id }}" data-driverPosition="{{ prediction.position }}" data-driverpoints={{ racePoints[i + 1] }}></i></td>        
                                            </tr>
                                        {% endfor %}

                                        {% for prediction in currentRacePredictions %}
                                            <input type="hidden" name="driver_position[{{ prediction.driver.id }}]" value="{{ prediction.position }}" id="driver-position-input-{{ prediction.driver.id }}">
                                        {% endfor %}
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}