{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="../assets/js/change_driver_position.js"></script>
{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">

        <div class="row">
            
            <h3 class="text-center mb-5">Make your predictions!</h3>

            <div class="col-md-6">
                <div class="card no-border-radius">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Name</th>
                                        <th>Race Start</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i, race in races %}
                                        <tr {% if currentRace.id == race.id %} class="active-race-table-row" {% endif %}>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ race.name }}</td> 
                                            <td>{{ race.race_start }}</td>           
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card no-border-radius">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Name</th>
                                        <th>Team</th>
                                        <th>Bolid</th>
                                        <th>Up</th>
                                        <th>Down</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form method="post" action="#">
                                        {% for i, prediction in currentRacePredictions %}
                                            <tr>
                                                <td id="driver-position-{{ prediction.driver.id }}">{{ prediction.position }}</td>
                                                <td>{{ prediction.driver.name }} {{ prediction.driver.surname }}</td>
                                                <td>{{ prediction.driver.team.name }}</td>
                                                <td><img src="../assets/images/cars/{{ prediction.driver.team.picture }}" class="img-fluid f1-car-img"></td>
                                                <td><i class="fas fa-arrow-up increase-driver-position" data-driverId="{{ prediction.driver.id }}" data-driverPosition="{{ prediction.position }}"></i></td>
                                                <td><i class="fas fa-arrow-down decrease-driver-position" data-driverId="{{ prediction.driver.id }}" data-driverPosition="{{ prediction.position }}"></i></td>
                                                
                                                <input type="hidden" name="driver_position[{{ prediction.driver.id }}][{{ prediction.position }}]" id="driver-position-input-{{ prediction.driver.id }}">
                                            </tr>
                                        {% endfor %}
                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}